body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f7fa;
}
body {
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
  background-color: #f5f7fa;
}

.app {
  min-height: 100vh;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.dashboard-container {
  max-width: 600px;
  margin: 0px auto;
  padding: 30px 20px;
  background: #ffffff;
  border-radius: 16px;
  flex: 1;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

h1 {
  color: #2c3e50;
  margin-bottom: 30px;
  margin-top: 0px;
}

.selector-container {
  margin-bottom: 30px;
}

.state-select {
  width: 280px;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

.weather-card {
  max-width: 400px;
  margin: 0 auto;
  background: linear-gradient(135deg, #74ebd5, #9face6);
  border-radius: 16px;
  padding: 30px 20px;
  color: black;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.weather-card h2 {
  margin: 0;
  font-size: 24px;
}

.capital {
  font-size: 14px;
  opacity: 0.9;
}

.weather-icon {
  width: 120px;
  height: 120px;
}

.temp {
  font-size: 48px;
  margin: 10px 0;
}

.condition {
  font-size: 18px;
  text-transform: capitalize;
}

.extra-info {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
}

.search-label {
  margin-right: 2px;
}
