.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

/* Toggle Switch */

.theme-switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.theme-switch input:checked + .slider {
  background-color: #4f46e5;
}

.theme-switch input:checked + .slider::before {
  transform: translateX(22px);
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f7fa;
}
body {
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
  background-color: #f5f7fa;
}

.app {
  min-height: 100vh;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.dashboard-container {
  max-width: 900px;
  margin: 0px auto;
  padding: 30px 20px;
  background: #ffffff;
  border-radius: 16px;
  flex: 1;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

h1 {
  color: #ffffff;
  margin-bottom: 30px;
  margin: 0px;
  padding-right: 10px;
}

.selector-container {
  margin-bottom: 30px;
}

.state-select {
  width: 280px;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

.weather-card {
  max-width: 400px;
  margin: 0 auto;
  background: linear-gradient(135deg, #74ebd5, #9face6);
  border-radius: 16px;
  padding: 30px 20px;
  color: black;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.weather-card h2 {
  margin: 0;
  font-size: 24px;
}

.capital {
  font-size: 14px;
  opacity: 0.9;
}

.weather-icon {
  width: 120px;
  height: 120px;
}

.temp {
  font-size: 48px;
  margin: 10px 0;
}

.condition {
  font-size: 18px;
  text-transform: capitalize;
}

.extra-info {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
}

.search-label {
  margin-right: 2px;
}

.sunny {
  background: linear-gradient(135deg, #facc15, #f97316);
}

.cloudy {
  background: linear-gradient(135deg, #94a3b8, #64748b);
}

.rainy {
  background: linear-gradient(135deg, #38bdf8, #1e3a8a);
}

.snowy {
  background: linear-gradient(135deg, #e0f2fe, #bae6fd);
}

.weather-card {
  animation: fadeIn 0.4s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.error-text {
  color: red;
  margin-top: 12px;
  max-width: 260px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.4;
  word-wrap: break-word;
  text-align: center;
}

.dashboard-container.light {
  background: #ffffff;
  color: #000;
}

.dashboard-container.dark {
  background: #0f172a;
  color: #ffffff;
}

/* Weather card adapts automatically */
.dashboard-container.dark .weather-card {
  background: #526a92;
  color: #ffffff;
}

.dashboard-container.light .weather-card {
  background: linear-gradient(135deg, #74ebd5, #9face6);
  color: #000;
}

.dashboard-container.light h1 {
  color: #000;
}

.dashboard-container.dark h1 {
  color: #fff;
}
